
*{
    font-size: 22px;
}


legend {

    background-color: white;
    border-radius: 5px;
}

.formulario__input {
    border-radius: 5px;
}

select {
    background-color: white;
}

button {
    position: relative;
    
}