
*{
    font-size: 22px;
}

.formulario {
    width: 350px;
    border-width: 4px;
    border-radius: 10px;
    border-color: blueviolet;
    border-style: dotted;
    background-color: bisque;
}

legend {

    background-color: white;
    border-radius: 5px;
}

.input {
    border-radius: 5px;
}

select {
    background-color: white;
}

button {
    position: relative;
    
}